# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
*.log

# PyInstaller
build/__pycache__/
build/WinAppMigrator/
dist/
*.spec
!build/WinAppMigrator.spec

# Inno Setup
Output/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
